In [5]:
import numpy as np
import csv
import pandas as pd

In [3]:
np.random.random([200,3])
np.savetxt('./datasets/dummy_dataset.csv',np.random.random([200,3]),delimiter=',')

In [6]:
df=pd.read_csv('./datasets/dummy_dataset.csv')

In [8]:
df[:100]

           a         b         c
0   0.631944  0.366042  0.793909
1   0.068731  0.893640  0.471911
2   0.901009  0.957712  0.232470
3   0.152718  0.419538  0.874706
4   0.497881  0.211858  0.472006
..       ...       ...       ...
95  0.264771  0.412391  0.633807
96  0.614563  0.378264  0.095163
97  0.098543  0.442541  0.485425
98  0.017811  0.264953  0.633221
99  0.507731  0.498050  0.050295

[100 rows x 3 columns]